{% extends "base2.html" %}

{% block content %}

    <h1 style= "text-indent: 40px">Leaderboard</h1>

		<div class ="score"><p style= "text-indent: 40px">You scored <span id="result"></span>! </p></div>


    <script>
    document.getElementById("result").innerHTML=localStorage.getItem("points");
	</script>

    {% for user in users %}
    <table>
        <tr>
            <th> User </th>
            <th> Normal Score </th>
            <th> Hard Score </th>
            <th> Invincible Score </th>
        </tr>

        <tr>
            <td> {{user.username}} </td>
            <td> {{user.userscore}} </td>
            <td> {{user.hardscore}} </td>
            <td> {{user.blackscore}} </td>
        </tr>
    </table>
    <br>
    {% endfor %}
	</p></div>
    <div style = "position:absolute; left: 50px">
    <a href="color">Click here to replay</a>
    <button onClick="window.location.reload();">Refresh Leaderboard</button>
    </div>

{% endblock %}
